a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}

strong {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}

h2 {
  margin: 0;
  font-weight: normal;
  font-family: 'Google Sans', sans-serif;
  font-size: 22px;
}

.papertitle {
  font-family:'Noto Sans', sans-serif;
  font-size: 110%;
  font-weight: Bold;
}

.name {
  /* padding-top: 20px;
  margin: 0; */
  font-family: 'Google Sans', sans-serif;
  font-size: 32px;
  font-weight: normal
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}